/* https://stackoverflow.com/a/8486324 */

/* Remove top and left whtiespace */
* {
    margin: 0px;
    padding: 0px;
}

/* Ensure fullscreen */
html, body {
    width: 100%;
    height: 100%;
}

/* Remove scrollbars */
canvas {
    display: block;
}